<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="http://lambda.cool/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="http://lambda.cool/favicon.ico" type="image/vnd.microsoft.icon">
    <title>krw</title>
</head>

<body>
    <div id="app">
    </div>
    <script src="/static/jquery.min.js" charset="utf-8"></script>
    <script src="/static/foundation.min.js" charset="utf-8"></script>
    <script src="/static/bundle.js" charset="utf-8"></script>
    <script>
        /* globals $ */
        $(document).foundation();
    </script>
</body>

</html>
