<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://lambda.cool/favicon.ico" type="image/vnd.microsoft.icon">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <title>LAMBDA.COOL</title>
  </head>

  <body>
    <nav>
      <span class="logo">LAMBDA.COOL</span>
      <a href="/" class="now">Home</a>
      <a href="/oj/">Online Judge</a>
    </nav>
    <div id="app">
      <form id="form" v-on:submit.prevent="userLogin">
        <input type="text" v-model="name" placeholder="学号">
        <input type="password" v-model="pwd" placeholder="密码">
        <input type="submit" value="登陆">
      </form>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          name: '',
          pwd: ''
        },
        methods: {
          userLogin: function(){
            var loginpwd = JSON.stringify({
              username: this.name,
              password: this.pwd
            });
            console.log(loginpwd);
            var xhr = $.ajax({
              type: 'post',
              url: '/api/auth/login/',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: loginpwd,
              beforeSend: function(response) {
                console.log(response);
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
                console.log("done!"+ xhr.getAllResponseHeaders());
              },
              success: function(response){
                console.log(response);
              }
            });
          }
        }
      })
    </script>
  </body>
</html>
